//Position der Sonne
@sun-top:50%;
@sun-left:50%;
@sun-height:1px;
@sun-width:1px;
@sun-margin-top: -1/2px;
@sun-margin-left: -1/2px;

@sim-erd-umlaufzeit: 10s;
@merkurumlaufzeit: 87.969;
@venusumlaufzeit: 224.701;
@erdumlaufzeit: 365.256;
@marsumlaufzeit: 686.980;
@jupiterumlaufzeit: 11.86 * @erdumlaufzeit;
@saturnumlaufzeit: 29.457 * @erdumlaufzeit;
@uranusumlaufzeit: 84.011 * @erdumlaufzeit;
@neptunumlaufzeit: 164.79 * @erdumlaufzeit;
@plutoumlaufzeit: 247.68 * @erdumlaufzeit;

@sim-erde-sonnenabstand: 10px;
@merkur-sonnenabstand: 58 * pow(10, 6);
@venus-sonnenabstand: 108 * pow(10, 6);
@erde-sonnenabstand: 149.597 * pow(10, 6);
@mars-sonnenabstand: 228 * pow(10, 6);
@jupiter-sonnenabstand: 778 * pow(10, 6);
@saturn-sonnenabstand: 1.43 * pow(10, 9);
@uranus-sonnenabstand: 2.9 * pow(10, 9);
@neptun-sonnenabstand: 4.5 * pow(10, 9);
@pluto-sonnenabstand: 5.9 * pow(10, 9);

@astronomische-Einheit: 149597870700; // Meter




html, body {
    width: 100%;
    height: 100%;
    background-color: black;
}

.browser-compatible-animation(@sim-planet-umlaufzeit:0){
    -webkit-animation: spin-right @sim-planet-umlaufzeit linear infinite;
     -moz-animation: spin-right @sim-planet-umlaufzeit linear infinite;
      -ms-animation: spin-right @sim-planet-umlaufzeit linear infinite;
       -o-animation: spin-right @sim-planet-umlaufzeit linear infinite;
          animation: spin-right @sim-planet-umlaufzeit linear infinite;
}

.orbit-properties(@sim-planet-sonnenabstand:0){
    position: absolute;
    top: 50%;
    left: 50%;

    @border: 0.5px;

    width: 2*(@sim-planet-sonnenabstand - @border);
    height: 2*(@sim-planet-sonnenabstand - @border);
    margin-top: -@sim-planet-sonnenabstand;
    margin-left: -@sim-planet-sonnenabstand;

    border-width: @border;
    border-style: dotted;
    border-color: white;
    border-radius: 50%;

}

.planet-properties(@width:20,@height:20){

    position: absolute;
    top: 0;
    left: 50%;

    height: @height;
    width: @width;
    margin-left: -@width/2px;
    margin-top: -@height/2px;

}

#habitale_zone_major{
    position: absolute;
    top: 50%;
    left: 50%;

    // ((((1.24 - 0.725)/ 2) * @astronomische-Einheit)/@erde-sonnenabstand) * @sim-erde-sonnenabstand;
    @width: (@astronomische-Einheit/(@erde-sonnenabstand*pow(10,3))) * @sim-erde-sonnenabstand;
    @height: (@astronomische-Einheit/(@erde-sonnenabstand*pow(10,3))) * @sim-erde-sonnenabstand;
    @border: (((((1.24 - 0.725)/ 2)) * @astronomische-Einheit)/(@erde-sonnenabstand*pow(10,3))) * @sim-erde-sonnenabstand;

    background-color: transparent;
    background: transparent;

    -moz-background-clip: border-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    

    width: @width + @border;
    height: @height + @border;

    margin-top: -(@height + 3*@border)/2;
    margin-left: -(@width + 3*@border)/2;
    
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;

    border: @border solid rgba(255,59,150,0.2);
}


#habitale_zone_minor{
    position: absolute;
    top: 50%;
    left: 50%;

    // ((((1.24 - 0.725)/ 2) * @astronomische-Einheit)/@erde-sonnenabstand) * @sim-erde-sonnenabstand;
    @width: ((((1.24 + 0.725)/ 2)) * (@astronomische-Einheit/(@erde-sonnenabstand*pow(10,3)))) * @sim-erde-sonnenabstand;
    @height: ((((1.24 + 0.725)/ 2)) * (@astronomische-Einheit/(@erde-sonnenabstand*pow(10,3)))) * @sim-erde-sonnenabstand;
    @border: (((((1.24 - 0.725)/ 2)) * @astronomische-Einheit)/(@erde-sonnenabstand*pow(10,3))) * @sim-erde-sonnenabstand;

    background-color: transparent;
    background: transparent;

    -moz-background-clip: border-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    

    width: @width + @border;
    height: @height + @border;

    margin-top: -(@height + 3*@border)/2;
    margin-left: -(@width + 3*@border)/2;
    
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;

    border: @border solid rgba(59,255,150,0.2);
}


#sun {
    position: absolute;
    top: @sun-top;
    left: @sun-left;

    height: @sun-height;
    width: @sun-width;
    margin-top: @sun-margin-top; 
    margin-left: @sun-margin-left;

    // border-color: orange;
    // border-width: 1px;
    // border-style: solid;
    // border-radius: 50%;

    box-shadow: 0 0 128px red;
}

#merkur {
    .planet-properties(@width:5,@height:5);
}

#venus {
    .planet-properties(@width:5,@height:5);
}


#earth {
    .planet-properties(@width:5,@height:5);
}

#mars {
    .planet-properties(@width:5,@height:5);
}

#jupiter {
    .planet-properties(@width:25,@height:25);

}

#saturn {
    .planet-properties(@width:25,@height:25);
}

#uranus {
    .planet-properties(@width:25,@height:25);
}

#neptun {
    .planet-properties(@width:25,@height:25);
}

#pluto {
    .planet-properties(@width:25,@height:25);
}

#merkur-orbit {
    @sim-merkur-umlaufzeit: (@merkurumlaufzeit/@erdumlaufzeit)*@sim-erd-umlaufzeit;
    @sim-merkur-sonnenabstand: (@merkur-sonnenabstand/@erde-sonnenabstand) * @sim-erde-sonnenabstand;    
    
    .orbit-properties(@sim-merkur-sonnenabstand);
    .browser-compatible-animation(@sim-merkur-umlaufzeit);

}

#venus-orbit {
    @sim-venus-umlaufzeit:(@venusumlaufzeit/@erdumlaufzeit)*@sim-erd-umlaufzeit;
    @sim-venus-sonnenabstand: (@venus-sonnenabstand/@erde-sonnenabstand) * @sim-erde-sonnenabstand;
    
    .orbit-properties(@sim-venus-sonnenabstand);
    .browser-compatible-animation(@sim-venus-umlaufzeit);

}


#earth-orbit {
    @sim-earth-umlaufzeit: (@erdumlaufzeit/@erdumlaufzeit)*@sim-erd-umlaufzeit;
    @sim-earth-sonnenabstand: (@erde-sonnenabstand/@erde-sonnenabstand) * @sim-erde-sonnenabstand;
    .orbit-properties(@sim-earth-sonnenabstand);    
    .browser-compatible-animation(@sim-earth-umlaufzeit);

}

#mars-orbit {
    @sim-mars-umlaufzeit: (@marsumlaufzeit/@erdumlaufzeit)*@sim-erd-umlaufzeit;
    @sim-mars-sonnenabstand: (@mars-sonnenabstand/@erde-sonnenabstand) * @sim-erde-sonnenabstand;
    .orbit-properties(@sim-mars-sonnenabstand);
    .browser-compatible-animation(@sim-mars-umlaufzeit);
}

#jupiter-orbit {
    @sim-jupiter-umlaufzeit: (@jupiterumlaufzeit/@erdumlaufzeit)*@sim-erd-umlaufzeit;
    @sim-jupiter-sonnenabstand: (@jupiter-sonnenabstand/@erde-sonnenabstand) * @sim-erde-sonnenabstand;

    .orbit-properties(@sim-jupiter-sonnenabstand);
    .browser-compatible-animation(@sim-jupiter-umlaufzeit);

}

#saturn-orbit {
    @sim-saturn-umlaufzeit: (@saturnumlaufzeit/@erdumlaufzeit)*@sim-erd-umlaufzeit;
    @sim-saturn-sonnenabstand: (@saturn-sonnenabstand/@erde-sonnenabstand) * @sim-erde-sonnenabstand;

    .orbit-properties(@sim-saturn-sonnenabstand);
    .browser-compatible-animation(@sim-saturn-umlaufzeit);

}

#uranus-orbit {
    @sim-uranus-umlaufzeit: (@uranusumlaufzeit/@erdumlaufzeit)*@sim-erd-umlaufzeit;
    @sim-uranus-sonnenabstand: (@uranus-sonnenabstand/@erde-sonnenabstand) * @sim-erde-sonnenabstand;

    .orbit-properties(@sim-uranus-sonnenabstand);    
    .browser-compatible-animation(@sim-uranus-umlaufzeit);

}

#neptun-orbit {
    @sim-neptun-umlaufzeit: (@neptunumlaufzeit/@erdumlaufzeit)*@sim-erd-umlaufzeit;
    @sim-neptun-sonnenabstand: (@neptun-sonnenabstand/@erde-sonnenabstand) * @sim-erde-sonnenabstand;

    .orbit-properties(@sim-neptun-sonnenabstand);    
    .browser-compatible-animation(@sim-neptun-umlaufzeit);

}

#pluto-orbit {
    @sim-pluto-umlaufzeit: (@plutoumlaufzeit/@erdumlaufzeit)*@sim-erd-umlaufzeit;
    @sim-pluto-sonnenabstand: (@pluto-sonnenabstand/@erde-sonnenabstand) * @sim-erde-sonnenabstand;
    .orbit-properties(@sim-pluto-sonnenabstand);   
    .browser-compatible-animation(@sim-pluto-umlaufzeit);

}

@-webkit-keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}